body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #007dc3;
    padding: 20px;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

#paymentSection {
    text-align: center;
    padding: 30px;
}

#confirmarPagamentoBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007dc3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    text-align: center;
}
